@import './base.css';
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: .7rem;
    font-weight: normal;
    letter-spacing: .6px;
}

a {
    text-decoration: none;
    transition: 0.4s;
    padding: 3px;
}

